In [21]:
a_list = [1,2,3,4,5,'kr',"rk"]
print(a_list)
print(a_list[0])
print(a_list[1])
print(a_list[4])

[1, 2, 3, 4, 5, 'kr', 'rk']
1
2
5

In [3]:
print(a_list[:2]) # 2번째 전까지
print(a_list[2:]) # 2번째 부터~

[1, 2]
[3, 4, 5]

In [23]:
b_list = []
b_list.append(1)
b_list.append(2)
b_list.append("rk")
b_list.append([9.0])
print(b_list)

[1, 2, 'rk', [9.0]]

In [ ]:
c_list = [1,3.14,"hello",[1,2,3]]
print(c_list)
print(c_list[1:3])

[1, 3.14, 'hello', [1, 2, 3]]
[3.14, 'hello']

In [ ]:
c_list = [1, 3.13, "hello", [1,2,3]]
print(c_list)
print(c_list[1:3]) # 3.13, "hello" 작은 따옴표로 출력된다

[1, 3.13, 'hello', [1, 2, 3]]
[3.13, 'hello']

In [ ]:
d_list = [1,2,3,4,5]
print(d_list)

d_list[0] = 5
print(d_list)

[1, 2, 3, 4, 5]
[5, 2, 3, 4, 5]

In [25]:
a_tuple = (1,2,3,4,5,'가',"나") 
print(a_tuple)

(1, 2, 3, 4, 5, '가', '나')

In [26]:
a=('a','b','b',4, [1,2]) #중복값도 가능능
print(a)
b=1, #값이 1개인 튜플은 , 붙일것
print(b)

('a', 'b', 'b', 4, [1, 2])
(1,)

In [ ]:
a_tuple[0] = 5 #요소를 바꿀 수 x

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1 = ('a', 'b','c',10,9,8)
print(t1[0])
print(t1[-2])
print(t1[0:-2]) #-2위치의 '전'까지

a
9
('a', 'b', 'c', 10)

In [13]:
#튜플의 덧셈(생략) 곱셈.
t1 =(1,2)
print(t1*2)

t2 =('a','b','c')
print(t2*4)

(1, 2, 1, 2)
('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [19]:
#내부 요소 검색
t1=(1,2,3,4,1)
if(1 in t1):
    print("1 exist")
print(t1.count(1)) #1의 개수
print(len(t1)) #t1의 길이이

t2 =1,2,3,(1,4) #괄호 생략 가능
print(t2)
print(t2[3][1])
#괄호 생략은 return 1,b,c <-이런식으로도 응용이 가능하다 (1,b,c)이렇게 출력된다다

1 exist
2
5
(1, 2, 3, (1, 4))
4

튜플은 머신러닝, 모델의 입출력에 사용
a = (,) <-이렇게 생성
혹은 a =(1,) <-1개만 넣을 때에는
set과 달리 중복값이 가능, 값의 변경,삭제가 불가능
튜플 자체는 del a로 삭제 가능

In [ ]:
a_dic = {"a":1, 'b':2, 'c':'3'}
print(a_dic)
print(a_dic["a"])
print(a_dic['b'])
print(a_dic['c'])

{'a': 1, 'b': 2, 'c': '3'}
1
2
3

In [20]:
b_dic = { 1 :'a', 'b' : [1,2,3], 'c' : 3}
print(b_dic[1])
print(b_dic['b'])
print(b_dic['c'])

a
[1, 2, 3]
3

In [ ]:
b_dic['d'] = 4
print(b_dic)

{1: 'a', 'b': [1, 2, 3], 'c': 3, 'd': 4}

In [ ]:
a_set = set([1,2,3,4])
print(a_set)

{1, 2, 3, 4}

In [3]:
set = set([1,1,2,2])
print(set)

{1, 2}

In [ ]:
b_set = set([1,1,2,2,3,3,4,5,6])
print(b_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
c_set = set("python40s")
print(c_set)

{'y', 'p', 'o', 't', 's', '4', 'h', '0', 'n'}